Sources/Examples/CodeConfiguration/Client/Connected Services/Generated/DemoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52003/DemoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExecutionTime" type="ser:duration" />
      <xs:element minOccurs="0" name="IsCanceled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
</xs:schema>