Sources/Examples/CodeConfiguration/Client/Connected Services/Generated/DemoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52003/DemoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:52003/DemoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceModel.Cancellation" />
  <xs:import schemaLocation="http://localhost:52003/DemoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="RunOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="delay" type="q1:duration" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceModel.Cancellation" minOccurs="0" name="token" type="q2:CancellationTokenProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="RunOperationResult" nillable="true" type="q3:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>